---
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';
import { Image } from 'astro:assets';
import Card from '../../components/Card.astro';
import Prose from '../../components/Prose.astro';
import { slugify } from '../../utils';

interface Props {
  coach: CollectionEntry<'coaches'>;
}

const { coach } = Astro.props;
const { Content } = await render(coach);

const maxFullSide = 512;

const imageWidth = Math.min(maxFullSide, coach.data.coachImage?.width || maxFullSide);
const imageHeight = Math.min(maxFullSide, coach.data.coachImage?.height || maxFullSide);

---

<Card id={`${slugify(coach.data.title)}`} class="space-y-4">
  {
    coach.data.coachImage && (
      <div class="flex justify-center items-center">
        <Image
          src={coach.data.coachImage}
          alt={`Photo of Coach ${coach.data.title}`}
          height={imageHeight}
          width={imageWidth}
          class="shadow-md rounded-md object-contain w-full h-auto max-w-full sm:max-w-[512px] sm:max-h-[512px]"
        />
      </div>
    )
  }
  <div class="flex flex-col gap-1 items-center">
    <h2 class='text-xl font-semibold text-center'>{coach.data.title}</h2>
    <p class='text-md'>{coach.data.position}</p>
  </div>
  <div class='text-md px-1 sm:px-4 md:text-lg md:max-w-3xl leading-relaxed space-y-4' >
    <Prose>
    <Content />
    </Prose>
  </div>
</Card>
